<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Campeonato Esportivo - Detalhe</title>
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="caixa">
                <img src="/static/img/logo.png" alt="Logo da Campeonato Esportivo" id="logo">
                <nav>
                    <ul>
                        <li><a href="home">home</a></li>
                        <li><a href="detalhe">detalhe</a></li>
                        <li><a href="cadastro">cadastrar</a></li>
                        <li><a href="listar">Lista</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section>
                <h1>Pessoas cadastradas</h1>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <td>id</td>
                            <td>nome</td>
                            <td>telefone</td>
                            <td>Email</td>
                            <td>Sexo</td>
                            <td>Data de Nascimento</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dado in campeonatoesportivo%}
                        <tr>
                            <td id="linhas">{{ dado._id }}</td>
                            <td id="linhas">{{ dado.nome }}</td>
                            <td id="linhas">{{ dado.telefone }}</td>
                            <td id="linhas">{{ dado.email }}</td>
                            <td id="linhas">{{ dado.sexo }}</td>
                            <td id="linhas">{{ dado.data_nascimento }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
        <footer>
            <p class="copyright">&copy; Copyright Campeonato Esportivo - 2020</p>
        </footer>
    </body>
</html>